@model Kovo8.Models.TulpeModel

@{
    ViewData["Title"] = "JonoTulpe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Jono Tulpe</h1>

<div>
    <img src="@Model.Gele" style="width: 200px"/>
    <form asp-action="Edit" onsubmit="vote(event);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="display: none">
                <label asp-for="Vardas" class="control-label"></label>
                <input asp-for="Vardas" class="form-control" />
                <span asp-validation-for="Vardas" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Gele" class="control-label"></label>
                <input asp-for="Gele" class="form-control" />
                <span asp-validation-for="Gele" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Balsai" class="control-label"></label>
                <input name="Balsai" class="form-control" value="@(Model.Balsai+1)"/>
                <span asp-validation-for="Balsai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Balsuoti" class="btn btn-primary" />
            </div>
        </form>
</div>

<script>
    function vote(event){
        let statusas = localStorage.getItem("balsuota");
        if(statusas == null || statusas == undefined)
        {
            alert("Aciu uz balsa :)")  
            localStorage.setItem("balsuota","true");
            return true;
        }
        else{
            alert("Balsuoti jau nebegalima :(")
            event.preventDefault();
            event.stopPropagation();
            return false;
        }
    }
</script>
